<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photogenix Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--LOGO-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div id="logo">
                    <h1><a href="#">Photogenix <span>Online Store</span></a></h1>
                </div>
            </div>

            @*<ul class=" nav-item col-md-6 col-sm-6 col-xs-6 card-columns container-fluid" style="list-style:none;">
                    <li class="p-2">@Html.Partial("_LoginPartial")</li>
                </ul>*@
        </div>

    </div>


    <!--LOGO Ends-->

    <nav class="navbar navbar-expand-lg navbar-light bg-dark bs-popover-auto sticky-top">
        <a class="navbar-brand">@Html.ActionLink("PHOTOGRAPGY ONLINE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-transform:uppercase">
                <li class="nav-item active p-2" aria-current="page">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item p-2">@Html.ActionLink("Product Admin", "Index", "ProductManager")</li>
                <li class="nav-item p-2">@Html.ActionLink("Category Admin", "Index", "ProductCategoryManager")</li>
                <li class="nav-item p-2">@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
                <li class="nav-item p-2">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item p-2">@Html.ActionLink("Contact", "Contact", "Home")</li>
                @Html.Partial("_LoginPartial")
                @*<li class="nav-item p-2">  @{ Html.RenderAction("ShoppingCartSummary", "ShoppingCart"); }  </li>*@
                @*<li class="nav-item p-2">@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cart
                    </a>
                    <div class="dropdown-menu" style="background-color:#343a40" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"></a>@{ Html.RenderAction("ShoppingCartSummary", "ShoppingCart"); }
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Photogenix Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

