<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photogenix Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<script src="https://kit.fontawesome.com/b31e9cd38d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--LOGO-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div id="logo">
                    <h1><a href="#">Photogenix <span>Online Store</span></a></h1>
                </div>

            </div>

            @*<ul class=" nav-item col-md-6 col-sm-6 col-xs-6 card-columns container-fluid" style="list-style:none;">
                    <li class="p-2">@Html.Partial("_LoginPartial")</li>
                </ul>*@
        </div>

    </div>
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


            <ul class="nav navbar-nav align-content-end mr-2">
                <li><i class="fas fa-user"></i> @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </ul>
        }
    }
   
 


    <!--LOGO Ends-->

    <nav class="navbar navbar-expand-lg navbar-light bg-dark bs-popover-auto sticky-top">
        <a class="navbar-brand">@Html.ActionLink("PHOTOGRAPGY ONLINE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-transform:uppercase">
                <li class="nav-item active p-2" aria-current="page"><i class="fas fa-home"></i> @Html.ActionLink("Home", "Index", "Home")</li>
                @*<li class="nav-item p-2">@Html.ActionLink("Product Admin", "Index", "ProductManager")</li>
        <li class="nav-item p-2">@Html.ActionLink("Category Admin", "Index", "ProductCategoryManager")</li>*@
                @*<li class="nav-item p-2">@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>*@
                <li class="nav-item p-2"><i class="fas fa-user-cog"></i> @Html.ActionLink("Admin", "Index", "Admin")</li>
                <li class="nav-item p-2"><i class="far fa-address-card"></i> @Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item p-2"><i class="far fa-envelope"></i> @Html.ActionLink("Contact", "Contact", "Home")</li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cart-plus"></i>
                    </a>
                    <div class="dropdown-menu" style="background-color:#343a40" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"></a>@{ Html.RenderAction("ShoppingCartSummary", "ShoppingCart"); }
                    </div>
                </li>
               
            </ul>
            <ul class="nav navbar-nav align-content-end ml-auto" style="text-transform:uppercase">
                <li class="nav-item align-content-end mr-2">@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </nav>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-md-12 align-content-center">
            <p>&copy; @DateTime.Now.Year - Photogenix Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </div>
</body>
</html>

