<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photogenix Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--LOGO-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div id="logo">
                    <h1><a href="#">Photogenix <span>Online Store</span></a></h1>

                </div>
            </div>

            @*<ul class=" nav-item col-md-6 col-sm-6 col-xs-6 card-columns container-fluid" style="list-style:none;">
                <li class="p-2">@Html.Partial("_LoginPartial")</li>
            </ul>*@
        </div>
        
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="nav-menus">
                <ul class="nav nav-pills">
                </ul>
            </div>
        </div>
    </div>
    <!--LOGO Ends-->
    <nav class="navbar container-md navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                @Html.ActionLink("PHOTOGRAPGY ONLINE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="text-transform:uppercase">
                <li class="nav-item active p-2" aria-current="page">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item p-2">@Html.ActionLink("Product Addmin", "Index", "ProductManager")</li>
                <li class="nav-item p-2">@Html.ActionLink("Category Admin", "Index", "ProductCategoryManager")</li>
                <li class="nav-item p-2">@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
                <li class="nav-item p-2">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item p-2">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Photogenix Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
