@model PhotographyOnlineStore.Core.Models.Order


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Order</h2>
    <hr />
    <div class="jumbotron bg-dark form-row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Payment</h6>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Proceed To Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div class="jumbotron bg-dark col-xs-6">
    <h1 class="display-5" style="text-align:center;">Choose your payment method</h1>

    <div class="card-header">
        <div class="bg-secondary shadow-sm pt-4 pl-2 pr-2 pb-2">
            <!-- Credit card form tabs -->
            <ul role="tablist" class="nav bg-warning nav-pills rounded nav-fill mb-3">
                <li class="nav-item"> <a data-toggle="pill" href="#pay-later" class="nav-link active "> <i class="fas fa-mobile-alt mr-2"></i> Order Now </a> </li>
                <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Bank </a> </li>

            </ul>
        </div> <!-- End -->
        <!-- Credit card form content -->
        <div class="tab-content">
            <!-- pay later info -->
            <div id="pay-later" class="tab-pane fade show active pt-3">
                <div class="form-group">
                    <p> <input type="submit" value=" Proceed Order " class="btn btn-primary " onclick="location.href='@Url.Action("SuccessView", "Checkout")'" /> </p>
                </div>
                <p class="text-muted">Note: After completing the payment process, your order will be prepared. </p>
            </div> <!-- End -->
            <!-- credit card info-->
            <div id="credit-card" class="tab-pane fade pt-3">
                <form role="form">
                    <div class="form-group">
                        <label for="username">
                            <h6>Card Owner</h6>
                        </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">
                            <h6>Card number</h6>
                        </label>
                        <div class="input-group">
                            <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                            <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>
                                    <span class="hidden-xs">
                                        <h6>Expiration Date</h6>
                                    </span>
                                </label>
                                <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-4">
                                <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                </label> <input type="text" required class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="card-footer" /> <input type="submit" value=" Confirm Payment " class="subscribe btn btn-primary btn-block shadow-sm" onclick="location.href='@Url.Action("PaymentWithCreditCard", "Checkout")'" />
                </form>
            </div>
        </div> <!-- End -->
        <!-- Paypal info -->
        <div id="paypal" class="tab-pane fade pt-3">
            <h6 class="pb-2">Select your paypal account type</h6>
            <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
            <p> <input type="submit" value=" Log into my Paypal " class="btn btn-primary " onclick="location.href='@Url.Action("PaymentWithPaypal", "Checkout")'" /> </p>
            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
        </div> <!-- End -->
        <!-- bank transfer info -->
        <div id="net-banking" class="tab-pane fade pt-3">
            <div class="form-group ">
                <label for="Select Your Bank">
                    <h6>Select your Bank</h6>
                </label> <select class="form-control" id="ccmonth">
                    <option value="" selected disabled>--Please select your Bank--</option>
                    <option>SwedBank</option>
                    <option>Handlesbanken</option>
                </select>
            </div>

            <div class="form-group">
                <p> <input type="submit" value=" Proceed Payment " class="btn btn-primary " onclick="location.href='@Url.Action("SuccessView", "Checkout")'" /> </p>
            </div>
            <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
        </div> <!-- End -->
        <!-- End -->
    </div>
</div>
<div class="btn btn-default float-md-right mt-5">@Html.ActionLink("Back to ShoppingCart", "Index")</div>






