@model PhotographyOnlineStore.Core.Models.Product

@{
    ViewBag.Title = Model.Name + " Details";
}

@Styles.Render("~/Content/Zoom/css/easyzoom.css")

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div class="col-md-2">
        <div class="easyzoom easyzoom--adjacent">
            <a href="~/Content/ProductImages/@Model.Image">
                <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />
            </a>
        </div>
    </div>
    <div class="col-md-10">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dd>
                <a href="@Url.Action("AddToShoppingcart","ShoppingCart", new { Id=Model.Id})" class="btn btn-default">Add To Shopping Cart</a>
            </dd>

        </dl>
    </div>
</div>

<div class="col-md-12 clearfix" />

<script src="@Url.Content("https://code.jquery.com/jquery-3.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Zoom/dist/easyzoom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Zoom/src/zoom.js")" type="text/javascript"></script>
