@*@model PhotographyOnlineStore.Core.ViewModels.ProductListViewModel*@
@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Fileter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>

<div class="container col-md-12">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Products</h1>
        </div>
        <!-- /.col-lg-3 -->
        @*<div class="col-md-10">
                @foreach (var item in Model.Products)

                {
                    <div class="col-md-4" style="height:450px; padding:10px; border:solid thin whitesmoke">
                        <div class="col-md-12">
                            <img src="~/Content/ProductImages/@item.Image" class="img-responsive" style="height:250px" />
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <strong>@Html.ActionLink(item.Name, "Details", new { Id = item.Id })</strong>
                        </div>

                        <div class="col-md-12">
                            <p>@item.Description</p>
                        </div>

                        <div class="col-md-12">
                            <p>@item.Price</p>
                        </div>

                        <div class="col-md-12">
                            <a href="@Url.Action("AddToBasket", "Basket", new { Id =item.Id} )" class="btn btn-secondary" style="border-radius:35px">Add To Basket</a>
                        </div>
                    </div>
                }

            </div>*@
        <!-- Product with picture -->
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item Two</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item Three</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>


    <div class="col-md-12 clearfix" />

